.calendar__header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	max-width: 900px;
}
.calendar__header span {
	font-size: 32px;
	font-weight: 500;
	padding: 0 32px 0 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
