.calendar__menu {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(7, 1fr);
	max-width: 900px;
}
.calendar__menu span {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.today {
	color: red;
}
