.calendar {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
}
.calendar__block-main {
	background-color: #131315;
	padding: 20px;
	border: 1px #2e2e33 solid;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.calendar__wrapper {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
	gap: 20px;
}
.settings__block {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
